.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  color: var(--white);
  margin-top: -1em;
}

.form-field {
}

.search-box .form-field .search-input {
  min-width: 80px;
  width: 50vw;
  max-width: 600px;
  padding: 0.8em 0.8em 0.8em 3em;
  border-radius: 10px;
  border: solid 2px var(--white);
  outline: none;

  background-color: transparent;
  color: var(--white);

  text-transform: capitalize;
}
.search-box .form-field .search-input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.search-box .search-icon {
  position: relative;
  right: -1.5em;
  top: 0.3em;
}
