.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  border-radius: 20px;
  padding: 10em 0 5em 0;

  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5),
      rgba(234, 64, 73, 0.129)
    ),
    url("./../../assets/images/other/bg.jpg");
  background-size: cover;
}
