.footer {
  background-color: var(--secondary-color);
  color: #ecf0f1;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Arial", sans-serif;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 250px;
}

.footer-title {
  font-size: 1.6em;
  margin-bottom: 15px;
  color: var(--white);
}

.footer-section p,
.footer-section ul {
  margin: 0;
  color: #bdc3c7;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #bdc3c7;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #ecf0f1;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.social-icon {
  font-size: 2em;
  color: var();
  transition: color 0.3s, transform 0.3s;
}

.social-icon:hover {
  color: #e67e22;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  color: #7f8c8d;
  width: 100%;
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}
