@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Roboto Slab", serif;

  --primary-color: #007bff;
  --faded-p-color: #248cfa;
  --secondary-color: #2c3e50;
  --white: white;
  --black: #333;
  --red: rgb(202, 68, 68);
  --box-shadow: 0 0 0 1px rgba(0,0,0,0.1);

  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color: var(--faded-p-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.btn-nbg {
}
.btn {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  padding: 0.5em 1.5em;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--faded-p-color);
  color: var(--white);
}
button {
  border-radius: 5px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
}
button:hover {
}
button:focus,
button:focus-visible {
}

.text-color {
  color: var(--primary-color);
}
.section-title {
  font-size: 2em;
  font-weight: 700;
  color: #333;
  text-align: center;
  padding-bottom: 0.5em;
}
