.cta {
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3em 4em;
  overflow: hidden;
}
.cta .cta-img {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cta .cta-hero {
  flex: 1;

  display: flex;
  flex-direction: column;
  gap: 1em;
}

.cta .cta-hero .cta-text {
  font-size: 25px;
  text-transform: capitalize;
}
.cta .cta-hero .cta-links {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1em;
  font-size: 13px;
  white-space: nowrap;
}
.cta .cta-hero .cta-description {
  font-size: 15px;
}
@media screen and (max-width: 900px) {
  .cta {
    flex-direction: column;
    background-color: var(--white);
    gap: 3em;
  }
}
